.codeblock
  padding: 2.5rem 2rem
  margin: 1.4rem -1rem
  overflow-x: auto
  font-size: 0.9rem
  font-family: "Roboto Mono", monospace

  @media screen and (min-width: 768px)
    border-radius: 0.2rem
    margin: 1.4rem -2rem
    
