@import '../../styles/colors'
  
.p 
  font-size: 1.2rem

.em
  font-size: 1.2rem
  font-family: Sriracha
  font-style: normal
  color: $pink

.a
  font-size: 1.2rem
  font-weight: 400
  color: $blue
  text-decoration: underline #cfa4ff 1px
  transition: all 300ms
  
  &:hover,
  &:focus
    text-decoration: underline $blue 2px

.p > code
  font-size: 1rem
  background: $gray-light
  padding: 0.25rem 0.5rem