/* sriracha-regular - latin */
@font-face
  font-family: 'Sriracha'
  font-style: normal
  font-weight: 400
  src: local('Sriracha'), url(/fonts/sriracha-v5-latin-regular.woff2) format('woff2'), url(/fonts/sriracha-v5-latin-regular.woff) format('woff'), url(/fonts/sriracha-v5-latin-regular.ttf) format('truetype'), url(/fonts/sriracha-v5-latin-regular.svg#Sriracha) format('svg')

@font-face
  font-family: 'Wotfard'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: local('Wotfard'), url(/fonts/wotfard.woff2) format('woff2')

@font-face
  font-family: 'Cambria Math'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: local('Cambria Math'), url(/fonts/cambria-math.ttf) format('ttf')

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap')