@import url(./fonts.css);

html,
body {
  padding: 0;
  margin: 0;
  font-family: Wotfard, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  line-height: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

em {
  font-family: Sriracha;
  /* font-weight: 700; */
  font-style: normal;
  color: red;
}

* {
  box-sizing: border-box;
}
